main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rendu {
    color: green;
}

.nonRendu {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

.date {
    color: rgb(172, 172, 172);
}